.button {
  color: var(--color-text);
  cursor: pointer;
  font-size: var(--fontSize-alt);
  background-color: transparent;
}

.button-primary {
  padding: var(--spacing-small) var(--spacing);
  border: var(--border-primary);
  border-color: var(--color-text);
  border-radius: var(--borderRadius-primary);
  transition-property: background-color, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &:enabled:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    transform: translateY(-5px);
  }
}

.button-secondary {
  border: 0;
  border-bottom: var(--border-primary);
  border-color: var(--color-text);
}
