.button {
  color: var(--color-text);
  font-size: var(--fontSize-alt);
  padding: var(--spacing-small) var(--spacing);
  background-color: transparent;
  border: var(--border-primary);
  border-color: var(--color-text);
  border-radius: var(--borderRadius-primary);
  transition-property: background-color, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    transform: translateY(-5px);
  }
}
