.underline {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 15px;
    background-color: var(--color-interaction);
    animation: appear 0.5s ease;
  }
}
