:root {
  --font-primary: "Arbutus Slab", Georgia, serif;
  --font-secondary: "Work Sans", Helvetica, system-ui, sans-serif;
  --fontSize-base: 48px;
  --fontSize-primary: 1rem;
  --fontSize-large: 1.5rem;
  --fontSize-alt: 0.95rem;
  --color-fadedYellow: rgb(255, 255, 248);
  --color-black: rgb(81, 81, 81);
  --color-green: rgb(157, 216, 78);
  --color-terracotta: rgb(217, 102, 83);
  --color-gray: rgb(186, 186, 186);
  --color-bg: var(--color-fadedYellow);
  --color-text: var(--color-black);
  --color-highlight: var(--color-terracotta);
  --lineHeight: 1.4;
  --measure: 20em;
  --spacing: 1rem;
  --spacing-large: calc(var(--spacing) * 2);
  --spacing-small: calc(var(--spacing) / 2);
  --border-primary: 5px solid;
  --borderRadius-primary: 15px;
}
