:root {
  --font-primary: "Arbutus Slab", Georgia, serif;
  --font-secondary: "Work Sans", Helvetica, system-ui, sans-serif;
  --fontSize-base: 48px;
  --fontSize-primary: 1rem;
  --color-fadedYellow: rgb(255, 255, 248);
  --color-black: rgb(81, 81, 81);
  --color-green: rgb(157, 216, 78);
  --color-terracotta: rgb(217, 102, 83);
  --color-gray: rgb(186, 186, 186);
  --color-bg: var(--color-fadedYellow);
  --color-text: var(--color-black);
}
