@import "css/variables.css";
@import "css/typography.css";
@import "css/layout.css";
@import "css/container.css";
@import "css/line.css";
@import "css/button.css";
@import "css/textInput.css";
@import "css/highlight.css";
@import "css/underline.css";
@import "css/headline.css";
@import "css/select.css";

html {
  font-size: var(--fontSize-base);
  background-color: var(--color-bg);
  animation: slidein 0.75s ease;
}

body {
  color: var(--color-text);
  line-height: var(--lineHeight);
}
